ul {
    padding: 10px;
    margin: 2px 10%;
    background: brown;
    justify-content: space-between;
}

ul li {
    margin: 0 10px;
    color: white;
}

.btn {
    width: 80px;
    font-size: 0.8rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}