* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  object-fit: contain;
}

h1,
h2,
.h3,
h4,
h5,
h6,
p,
hr {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}